<h1>Stupid Coaching</h1>
<p>ask your coach anything:</p>
<form class="example" action="/answer" method="get">
  <input type="text" name="ask">
  <button><input type="submit" value="Ask!"></button>
</form>